@model UpdateStaffViewModel
@{
    ViewData["Title"] = "UpdateStaff";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <h4>Update Staff</h4>
    <input type="hidden" asp-for="StaffID" />
    <input type="text" asp-for="Name" class="form-control" placeholder="Staff Name" />
    <br />
    <input type="text" asp-for="Title" class="form-control" placeholder="Title" />
    <br />
    <input type="text" asp-for="Image" class="form-control" placeholder="Image URL" />
    <br />
    <input type="text" asp-for="SocialMedia1" class="form-control" placeholder="Social Media" />
    <br />
    <input type="text" asp-for="SocialMedia2" class="form-control" placeholder="Social Media" />
    <br />
    <input type="text" asp-for="SocialMedia3" class="form-control" placeholder="Social Media" />
    <br />
    <button class="btn btn-outline-primary">Update</button>
</form>