@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ServiceID" />
    <input type="text" asp-for="ServiceIcon" class="form-control" placeholder="Icon" />
    <span asp-validation-for="ServiceIcon" class="text-danger"></span>
    <br />
    <input type="text" asp-for="Title" class="form-control" placeholder="Service Title" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <input type="text" asp-for="Description" class="form-control" placeholder="Service Description" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-primary">Submit</button>
    <a href="/Admin/Service/Index/" class="btn btn-outline-secondary">Back</a>
</form>
